.Contador input {
    font-size: 1.4rem;
    width: 60px;
}

.Contador button {
    height: 30px;
    font-size: 1.4rem;
    width: 30px;
    border-radius: 50%;
    background-color: #143399;
    color: white;
    margin: 15px
}